@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&wght200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10vw;
    padding-right: 10vw;
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 100;
}

.nav-bg {
    position: absolute;
    background-color: hsla(0,0%,100%,.8);
    backdrop-filter: blur(20px);
}

.navbar .navbar-mid {
    display: flex;
}

.navbar .navbar-mid ul {
    display: flex;
    gap: 50px;
}

.navbar .navbar-mid ul li {
    list-style: none;
}

.navbar .navbar-mid ul li a {
    display: inline-block;
    cursor: pointer;
    position: relative;
    transition: .2s ease-in;
    font-weight: 500;
    color: #767676;
    font-size: 16px;
    text-decoration: none;
}

.navbar .navbar-mid ul li a:hover {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    transform: translateY(-1px) scale3d(1.03,1.03,1.03);
}

.navbar-right {
    display: flex;
}

.navbar-right a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04ddb2;
    border: none;
    width: 120px;
    height: 40px;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    transition: .2s ease-in;
}

.navbar-right a:hover {
    transform: translateY(-2px) scale3d(1.05,1.05,-1.05);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% auto;
    width: 90vw;
}

.main h1 {
    font-size: 60px;
    color: #333;
}

.main h1 span {
    color: #04ddb2;
}

.main p {
    font-size: 26px;
    text-align: center;
    width: 35%;
    color: #646464;
    font-weight: 300;
}

.main .tour-video-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main .tour-video-container .yt-frame {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .tour-video-container .yt-frame img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-radius: 30px;
    transition: .2s ease-in;
}

.main .tour-video-container .yt-frame img:hover {
    transform: translateY(-2px) scale3d(1.05,1.05,-1.05);
    box-shadow: 4px 17px 20px 4px rgba(0, 0, 0, .2);
}

.main .final-section {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 60px;
}

.main .final-section h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    text-align: center;
    width: 100%;
    font-size: 60px;
}

.main .final-section .download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.main .final-section .download-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #04ddb2;
    border: none;
    width: 160px;
    height: 50px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    transition: .2s ease-in;
}

.main .final-section .download-btn a:hover {
    transform: translateY(-2px) scale3d(1.05,1.05,-1.05);
    box-shadow: 2px 6px 14px 2px rgba(0, 0, 0, .2);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px 64px;
    background: #fff;
}

.footer-content {
    border-top: .5px solid rgba(0,0,0,.2);
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.footer-column-header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 31.2px;
    line-height: 1;
}

.footer-column-link {
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 1;
    transition: .2s ease-in;
}

.footer-column-link:hover {
    transform: scale3d(1.05,1.05,1.05);
}

.social-links {
    display: flex;
}

figure {
    transition: .0000001s ease-in;
}

figure:hover {
    padding-left: 10px !important;
}

svg:hover {
    transform: scale3d(1.2,1.2,1.2) !important;
}